@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Parkinsans:wght@300..800&display=swap');
body{
    margin: 0;
    font-family: "Parkinsans", sans-serif;
    background-image: url("../images/360_F_67704008_fxdmJ8wDOqDYts9P3tzdbxqZf8NfWT21.jpg");
}


.nav{
    height: 130px;
    width: 100%;
    background-image:linear-gradient(to left,whitesmoke,rgb(221, 216, 216),white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: red;
    margin-left:30px ;
    font-size: 25px;
}

.add-btn{
    margin-right: 40px;
}

.add-btn button{
    padding: 15px 40px;
    background-image:linear-gradient(to bottom ,red,rgb(245, 171, 171)) ;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-size: 15px;
}
.display-details{
    width: 100%;
    margin-top: 5%;
}

.tmain{
    width: 80%;
    height: auto;
    margin: auto;
}

.tmain button{
    width: auto;
    background-color: red;
    height: 100%;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}
.phone{
    display: none;
}

.phone input{
    border: none;
    background-color: rgb(252, 140, 140);
}

tr,td,th{
    border: 1px solid black;
}

.buttons-phone button{
    display: none;
}

.donor-form{
    height: 40vh;
    margin: auto;
    width: 25%;
    margin-top: 5%;
    box-shadow: 5px 5px 8px 3px rgb(223, 127, 127);
    border: 2px ridge red;
    border-radius: 30px;
    text-align: center;
    padding: 4% 4%;
    line-height: 40px;
}

.donor-form input{
    margin-left: 20px;
    padding: 5px 10px;
    border: 1px solid red;
    border-radius: 5px;
}

tbody input{
    width: 90%;
    border: none;
}



@media (max-width:900px){
    .nav{
        height: 90px;
    }
    
    .logo{
        font-size: 20px;
    }
    
    .add-btn{
        margin-right: 40px;
    }
    
    .add-btn button{
        padding: 8px 20px;
        font-size: 12px;
    }
    
    .donor-form{
        height: 30vh;
        width: 45%;
        margin-top: 10%;
        line-height: 50px;
    }
    
}

@media (max-width:576px){
    .nav{
        height:70px;
    }
    
    .logo{
        margin-left:20px ;
        font-size: 15px;
    }
    
    .add-btn{
        margin-right: 20px;
    }
    
    .add-btn button{
        padding: 5px 20px;
        font-size: 11px;
    }
    .display-details{
        width: 100%;
        margin-top: 5%;
    }
    
    .tmain{
        display: none;
    }
    
    .phone{
        display: block;
        width: 60%;
        height: auto;
        margin: auto;
        line-height: 30px;
    }
    td:nth-child(even){
        background-color: rgb(252, 140, 140);
        color: white;
    }

    .buttons-phone{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 5%;
    }
    .buttons-phone button{
        display: inline;
    }

    .donor-form{
        height: 45vh;
        width: 60%;
        margin-top: 10%;
        line-height: 50px;
    padding: 4% 2%;

    }

    .donor-form input{
        padding: 2px 5px;
        border: 1px solid red;
        border-radius: 5px;
    }
}


